<% content_for :title do %>
    <%= @category.name %>
<% end %>

<div class="bgr-white clearfix " >

    <div class="">
         <nav>
            <div class="nav-wrapper  blue lighten-2">
              <div class="col-lg-8 col-lg-offset-2" style="padding-left: 5px;">
                <a href="#" onclick="show_panel_cates()" class="breadcrumb blue lighten-2">
                    <i class="fa fa-bars"></i>&nbsp;&nbsp;
                    Tất cả danh mục
                </a>
                <%= link_to @category.parent, "/category/", :class => "breadcrumb blue lighten-2" if not @category.parent.nil? %>
                <a href="#!" class="breadcrumb blue lighten-2"><%= @category.name %></a>
              </div>
            </div>
          </nav>
    </div>

    <div class="clearfix col-lg-8 col-lg-offset-2" style="min-height: 500px; padding-top: 10px;">
        <div class="col-md-2">
            <div>
                <h5 class="title-cate"><%= @category.name %></h5>
            </div>
            <div>
                <ul class="unstyled list-cate-side">
                    <% @sub_cates.each do |cate| %>
                        <li><%= link_to cate.name, "/category/#{cate.id}", :class => "" %></li>
                    <% end %>    
                </ul>
                
            </div>
        </div>
        <div class="col-md-10">
            <div id='header-content'>
                <div class="col-md-6">
                    <h5 style="padding-top: 5px;">Có 33.757 kết quả</h5>
                    
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Sắp xếp</option>
                            <option value="1">Giá tăng dần</option>
                            <option value="2">Giá giảm dần</option>
                        </select>
                    </div>

                </div>
            </div>
            <div>
                <% @productions.each do |prod| %>
                        <div class="col-md-3">
                            <div class="col">
                              <div class="card">
                                <div class="card-image">
                                  <img src="<%= prod.standard_image %>" onerror="imgError(this)">
                                  
                                </div>
                                <div class="" style="height: 45px; padding: 5px;">
                                  <p><a href="/production/detail/<%= prod.id %>"><%= prod.standard_name %></a></p>
                                </div>
                                <div class="card-action">
                                  <a href="#"><%= prod.standard_price %></a>
                                </div>
                              </div>
                            </div>
                          </div>
                <% end %>
            </div>
        </div>

    </div>



</div>
<script type="text/javascript">
    
    $(document).ready(function() {
        $('select').material_select();
    })

</script>