@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(material-font.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    font-family: 'Open Sans', Verdana, sans-serif;
}

body {
    background-color: #f5f5f5 !important;
}

.padding-side-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-side-50 {
    padding-left: 50px;
    padding-right: 50px;
}

#header-search {
    padding-top: 100px;
    padding-bottom: 100px;
}

#search-input {
    border: 2px solid #BBB;
    padding: 10px;
    font-size: 20pt;
    border-radius: 3px;
    
    font-family: 'Open Sans';
}

#search-input-header {
    border: 2px solid #BBB;
    padding: 10px;
    font-size: 20pt;
    border-radius: 3px;
    
    font-family: 'Open Sans';
}

#search-input:focus {
    box-shadow: none !important;
}

.div-content {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.title-cate {
    border-bottom: 4px solid #64b5f6;
    margin-bottom: 0px;
    color: #64b5f6;
}

.div-content .owl-pagination {
    display: none;
}

#brand-logo {
    max-height: 54px;
    margin: 2px 10px 5px 10px;
}

.bgr-white {
    background-color: #fff;
}

.price-tag {
    color: #e74c3c;
}

a:hover {
    text-decoration: none !important;
}

.text-blue {
    color: #64b5f6;
}

.list-cate-side li {
    padding-top: 10px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-20 {
    padding-top: 20px;
}


.padding-top-30 {
    padding-top: 30px;
}


.group-cate {
    padding-top: 30px;
}

.triangle-down-left {
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    overflow: hidden;
}
.triangle-down-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 45px solid transparent;
    border-bottom: 45px solid #64b5f6;
}

.title-blue-bgr {
    background: #64b5f6;
    margin: 5px 0px;
    color: white;
}


.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-padding-left {
    padding-left: 0px !important;
}

.inline {
    display: inline-block;
}

.avt-cate {
    position: absolute !important;
    top: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    background-image: url("/images/smartphone.png");
}

.sub-list {
    color: #999;
}

.bold {
    font-weight: 800;
}

#panel-cates {
    position: absolute;
    top: 0px;
    min-height: 200px;
    padding: 0px 50px;
    width: 100%;
    background: #eee;
    z-index: 100000;
    box-shadow: 0px 8px 5px #64b5f6;
    border-left: 2px solid #64b5f6;
    border-right: 2px solid #64b5f6;
    border-bottom: 2px solid #64b5f6;
}

#wrapper {
    position: relative;
    display: none;
    box-shadow: 0px 10px 5px #888888;

}

.content-cates {
    border-top: 2px solid #64b5f6;

}

.divs-hidden {
    display: none;
}

#div-parent-cate {
    border-right: 2px solid #64b5f6;
}

.parent-cate {
    padding: 5px;
    font-weight: 700;
}

/*.parent-cate:hover {
    background: #64b5f6;
    
}*/

/*.parent-cate:hover a {
    color: white !important;
}*/

.list-cate-header {
    margin-left: 20px;
}

#angle-up {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

img.divs-hidden {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 200px;
}

/*
#divs-5704347404f7944d50000000 {
    
    background-image: url("/images/bgr_category/5704347404f7944d50000000.png");
}*/

.tabs, .tabs .tab a {
    color: #64b5f6 !important;
    text-transform: capitalize !important;
}

.title-tab {
    font-size: 23px !important;
    text-align: left !important;
    padding-left: 10px;
    font-weight: 800;
    color: #666 !important;

}

.title-tab i {
    color: #64b5f6;
}

.tabs {
    border-top: 2px solid #eee;
    border-bottom: 2px solid #64b5f6;
}

.tab a.active {
    background: #64b5f6;
    color: white !important;
    border-bottom: 0px !important;
    text-decoration: none !important;
    color: white !important;
}

.tab a.active i {
    color: white !important;
}

#info-product {
    margin: 40px 0px;
    min-height: 250px;
}

#desc-tab {
    color: black !important;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    /*border-radius: 8px;*/
}
 
::-webkit-scrollbar-thumb {
    /*border-radius: 8px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.list-item-prod {
    position: relative;
    padding-left: 75px;
    min-height: 75px;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
}

.list-item-prod a {
    color: black;
}

#list-relate-prod {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.img-thumbnail-prod {
    position: absolute;
    top: 0px;
    left: 0px;
}

.dropdown-cates:before {
    content: '\E5CC';
    color: rgba(255,255,255,0.7);
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}

.dropdown-cates {
    font-size: 18px;
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    width: 200px;
    border-radius: 4px;
}

footer.page-footer {
    margin-top: 0px !important;
}

@media (min-width: 1200px) {

    #panel-cates {
        width: 66%;
    }
}