<!DOCTYPE html>
<html>
<head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "logo.png" %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <script type="text/javascript">
        function show_panel_cates() {
            $('.modal-cates').click();
        }

        function imgError(image) {
            image.onerror = "";
            image.src = "/images/no-img.gif";
            return true;
        }

    </script>




</head>
<body>
<%= render 'layouts/partials/nav' %>
    
<%= yield %>    
    
<%= render 'layouts/partials/footer' %>
</body>
</html>
