<footer class="page-footer blue lighten-2" >
<div style="margin-top: 0px; position: relative;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;Price Checker</h5>
                <p class="grey-text text-lighten-4">abcxyz</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright PriceChecker
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
          <div style="width: 50px; height: 50px; position: absolute; top: -50px; right: 40px; background: #64b5f6; cursor: pointer;" onclick="goTopPage()">
            <h3 class="no-margin text-center no-padding" style="color: white;"><i class="fa fa-angle-up" aria-hidden="true"></i></h3>
          </div>
</div>
        </footer>
<script type="text/javascript">
  
  function goTopPage() {
    $('html, body').animate({
      scrollTop: 100
    }, 600);

  }
</script>