<div class='navbar-fixed'>
  <ul id="list-backend" class="dropdown-content">
      <li><a href="/post/category/2">Python</a></li>
      <li><a href="/post/category/1">PHP</a></li>
      <li><a href="/post/category/3">Ruby</a></li>
  </ul>
  <ul id="list-backend-mobile" class="dropdown-content">
      <li><a href="/post/category/2">Python</a></li>
      <li><a href="/post/category/1">PHP</a></li>
      <li><a href="/post/category/3">Ruby</a></li>
  </ul>

  <ul id="list-frontend" class="dropdown-content">
      <li><a href="/post/category/5">Javascript</a></li>
      <li><a href="/post/category/4">HTML, CSS</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
  </ul>
  <ul id="list-frontend-mobile" class="dropdown-content">
      <li><a href="/post/category/5">Javascript</a></li>
      <li><a href="/post/category/4">HTML, CSS</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
  </ul>
  <nav class='blue lighten-2 '>
      <div class="nav-wrapper col-lg-8 col-lg-offset-2">
          <a href="/#" class="brand-logo">
            <%= image_tag "logo.png", class: "img-circle", id: 'brand-logo'  %>
            Price Checker
          </a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          
          <ul class="right hide-on-med-and-down">
              <!-- <li><a class="dropdown-button" href="#!" data-activates="list-backend">Backend<i class="material-icons left">dns</i></a></li>
              <li><a class="dropdown-button" href="#!" data-activates="list-frontend">Frontend<i class="material-icons left">stay_primary_portrait</i></a></li> -->
              <!-- <li><a href="/post/category/7">Các cửa hàng<i class="material-icons left">shopping_cart</i></a></li> -->
              
              <li><a class="modal-cates" href="#" onclick="show_panel()">Tất cả danh mục<i class="material-icons left">view_list</i></a></li>
              <!-- <li><a href="/post/category/6">Góp ý<i class="material-icons left">speaker_notes</i></a></li>
              <li>
                <a class="waves-effect waves-light modal-trigger" href="#modal1"><i class='material-icons center' >search</i></a>
              </li> -->
          </ul>
          <ul class="side-nav" id="mobile-demo">
              <li><a class="dropdown-button" href="#!" data-activates="list-backend-mobile"><span class="fa fa-database"></span>&nbsp;&nbsp;Backend</a></li>
              <li><a class="dropdown-button" href="#!" data-activates="list-frontend-mobile"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;Frontend</a></li>
              <li><a href="/post/category/7"><span class='fa fa-shield'></span>&nbsp;&nbsp;Security</a></li>
              <li><a href="/post/category/6"><span class='glyphicon glyphicon-compressed'></span>&nbsp;&nbsp;Tool Development</a></li>
              <li>
                <a class="waves-effect waves-light modal-trigger" href="#modal1"><span class='glyphicon glyphicon-search'></span>&nbsp;&nbsp;Search</a>
              </li>
          </ul>
      </div>
  </nav>
</div>

<!-- Modal Structure -->
<div id='wrapper'>
  <div id='panel-cates' class="col-lg-8 col-lg-offset-2">
    <div class="content-cates clearfix">
      <div class="col-md-3 no-padding" id='div-parent-cate'>
        <ul class="list-unstyled" >
        <% @list_cates.each do |cate| %>
          <li id='<%= cate.id %>' class="parent-cate" onmousemove="over_cates(event, this.id)"><a href="/category/<%= cate.id %>"><%= cate.name %></a></li>
        <% end %>
        </ul>
      </div>
      <div id='list-sub-cates' class="col-md-9">
        <% @list_cates.each do |cate| %>
          <div class="divs-hidden clearfix" id="divs-<%= cate.id %>">
            <h5><%= cate.name %></h5>
            <ul class="list-unstyled sub-list list-cate-header">
              <% cate.get_sub_categorys.each do |sub| %>
                <li class="list-inline padding-top-5" style="width: 34%; float: left;"><a href="/category/<%= sub.id %>"><%= sub.name %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      </div>
    </div>
    <span id='angle-up' title='Close'>
      <h4><i class="fa fa-times" aria-hidden="true" onclick="close_panel()"></i></h4>
    </span>
  </div>  
</div>


<script type="text/javascript">
  $(document).ready(function() {


  })

  var x_cursor = 0, y_cursor = 0;
  var x_top_sub, y_top_sub;
  var x_bottom_sub, y_bottom_sub;

  function show_sub_cates(id) {
    
    $('.divs-hidden').hide();
    $('#divs-' + id).show();

    
  }

  function show_panel() {
    $('#wrapper').toggle();
    
    p = $('#div-parent-cate').offset();
    x_top_sub = p.left + $('#div-parent-cate').width();
    y_top_sub = p.top;

    console.log(x_top_sub + " --- " + y_top_sub);

    x_bottom_sub = x_top_sub;
    y_bottom_sub = y_top_sub + $('#div-parent-cate').height();

    console.log(x_bottom_sub + " --- " + y_bottom_sub);
  }

  function close_panel() {
    $('#wrapper').hide();
  }

  function check_two_bottom_point(x, y) {
    temp1 =  (x - x_bottom_sub) * 1.0 / (x_bottom_sub - x_cursor) - (y - y_bottom_sub) * 1.0 / (y_bottom_sub - y_cursor);

    temp2 = (x_top_sub - x_bottom_sub) * 1.0 / (x_bottom_sub - x_cursor) - (y_top_sub - y_bottom_sub) * 1.0 / (y_bottom_sub - y_cursor);

    console.log("Bottom: " + temp1 * temp2);
    return temp1 * temp2;


  }

  function check_two_top_point(x, y) {
    temp1 = (x - x_top_sub) * 1.0 / (x_top_sub - x_cursor) - (y - y_top_sub) * 1.0 / (y_top_sub - y_cursor);
    

    temp2 = (x_bottom_sub - x_top_sub) * 1.0 / (x_top_sub - x_cursor) - (y_bottom_sub - y_top_sub) * 1.0 / (y_top_sub - y_cursor);
    
    console.log("Top: " + temp1 * temp2);
    return temp1  * temp2;
  }

  function is_inner_triangle(x, y) {
    if( check_two_top_point(x, y) > 0 && check_two_bottom_point(x, y) > 0) {
      return true;
    }
    return false;
  }

  function init_cursor(event) {
    console.log("OVER");
    x_cursor = event.clientX;
    y_cursor = event.clientY;
  }

  function over_cates(event, id) {
    
    x = event.clientX;
    y = event.clientY;

    console.log("X : " + x);
    console.log("Y : " + y);

    if(is_inner_triangle(x, y)) {
      // $('.parent-cate').css('background', "#eee");
      // $('#' + id).css("background", "#64b5f6");
    } else {
      $('.divs-hidden').hide();
      $('#divs-' + id).show();
      $('.parent-cate').css('background', "#eee");
      $('.parent-cate a').css('color', "#039be5");

      $('#' + id).css("background", "#64b5f6");
      $('#' + id + " a").css("color", "white");

    }
    x_cursor = x;
    y_cursor = y;
  }

</script>