<% content_for :title do %>
    <%= @production.standard_name %>
<% end %>
<div class="bgr-white clearfix">
    
    <div class="" >
         <nav>
            <div class="nav-wrapper  blue lighten-2">
              <div class="col-lg-8 col-lg-offset-2" style="padding-left: 5px;">
                <a href="#" onclick='show_panel_cates()' class="breadcrumb blue lighten-2">
                    <i class="fa fa-bars"></i>&nbsp;&nbsp;
                    Tất cả danh mục
                </a>
                <a href="#!" class="breadcrumb blue lighten-2"><%= @production.parent_cate %></a>
                <a href="#!" class="breadcrumb blue lighten-2" style="position: relative;">
                    <%= @production.single_cate %>
                    <!-- <div style="position: absolute; top: 0px; left: 0px; z-index: 1000000; background: red;">
                        <li class="dropdown-cates">Asus</li>
                        <li class="dropdown-cates">Sony</li>
                    </div> -->
                </a>
              </div>
            </div>
          </nav>
    </div>

    <div id='main-content-info' class="clearfix col-lg-8 col-lg-offset-2">
        <div class="col-md-4" style="padding-top: 8px;">
            <img id='main-image' src="<%= @production.standard_image %>" data-zoom-image="<%= @production.standard_image %>" width="100%" onerror="imgError(this)">
            <div id='share-tool' class="text-center"></div>

        </div>
        <div class="col-md-5">
            <h3><%= @production.standard_name %></h3>
            <h4 class="price-tag"><i class="fa fa-tags"></i>&nbsp;&nbsp;<%= @production.standard_price %></h4>
            <h7 class="text-blue">
                <i class="fa fa-line-chart"></i>&nbsp;&nbsp;
                Lịch sử giá
            </h7>
        </div>

        <div class="col-md-3">
            <h5 class="title-cate"><i class="fa fa-rss"></i>&nbsp;&nbsp;Liên Quan</h5>
            <div id='list-relate-prod'>
                
                <% @production.relate_product.each do |item| %>
                    <div class="list-item-prod clearfix">
                        <img class="img-thumbnail-prod" src="<%= item.standard_image %>" width="70px" height='70px' onerror="imgError(this)">
                        <a href="/production/detail/<%= item.id %>"><%= item.standard_name %></a>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-lg-offset-2">
        <div  id='info-product'>
            <div class="col s12">
                <ul class="tabs">
                <li class="tab col-md-2"><a href="#test1" class="active"><div class="title-tab"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;Nơi bán</div></a></li>
                <li class="tab col-md-2"><a class="" href="#desc-tab"><div class="title-tab"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;Mô tả</div></a></li>
                <li class="tab col-md-2"><a href="#test4"><div class="title-tab"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Bản đồ nơi bán</div></a></li>
                <li class="tab col-md-2 disabled"><a href="#test3">&nbsp;</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">
                
                <div>
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    <b>Nơi bán (1)</b>
                                </td>
                                <td>
                                    <b>Tên sản phẩm</b>
                                </td>
                                <td>
                                    <b>So sánh giá</b>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="<%= Shop.shop_by_name(@production.shop).full_brand_img %>" width='110px' height='38px' style='border: 1px solid #ddd;'>
                                    <br />
                                    <small ><%= Shop.shop_by_name(@production.shop).homepage %></small>
                                </td>
                                <td>
                                    <b><%= @production.standard_name %></b>
                                    <br />
                                    <small ><a href="<%= @production.link %>" target="_blank"><%= @production.link[0..50] + "..." %></a></small>
                                </td>
                                <td>
                                    <%= @production.standard_price %>
                                </td>
                                <td>
                                    <a href="<%= @production.link %>" target="_blank">
                                        <button class="waves-effect waves-light btn ">
                                            <i class="fa fa-eye"></i>&nbsp;&nbsp; Xem
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
            <div id="desc-tab" class="col-md-10 col-md-offset-1">
                <div class="">
                    <% if not @production.description.nil? %>    
                        %= raw @production.description %>
                    <% else %>
                        Truy cập các link để biết thêm thông tin
                        <br />
                        <a href=""></a>

                    <% end %>
                </div>
                
            </div>
            <div id="test4" class="col s12">Test 4</div>
        </div>
    </div>
        



    <!-- <div class="col-md-12 clearfix" style="margin: 50px 0px;">
        <h4 class="title-cate"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;Nơi bán</h4>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>
                            <b>Nơi bán (1)</b>
                        </td>
                        <td>
                            <b>Tên sản phẩm</b>
                        </td>
                        <td>
                            <b>So sánh giá</b>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= @production.shop %>
                        </td>
                        <td>
                            <b><%= @production.standard_name %></b>
                        </td>
                        <td>
                            <%= @production.standard_price %>
                        </td>
                        <td>
                            <a href="<%= @production.link %>" target="_blank">
                                <button class="waves-effect waves-light btn ">
                                    <i class="fa fa-eye"></i>&nbsp;&nbsp; Xem
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div> -->
    <div class="clearfix">
        
    </div>
    <div class="clearfix col-md-12 col-lg-8 col-lg-offset-2" style="margin-bottom: 50px;">
        <h4 class="title-cate"><i class="fa fa-comments"></i>&nbsp;&nbsp;Bình luận</h4>
        <div class="col-md-8 col-md-offset-2">
            <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */

            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//qlogror.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();

            */
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


        </div>
    </div>

</div>

<script type="text/javascript">
    
    $(document).ready(function() {
        // Active Share Plugin  (jsSocials)
            $("#share-tool").jsSocials({
                shares: [ "facebook", "googleplus", "linkedin", "twitter"]
            });

            $('#main-image').elevateZoom({ 
                zoomType    : "lens", lensShape : "round", lensSize : 200
            });

            $('ul.tabs').tabs();

            // remove attr of html element in tab desc
            $('#desc-tab *').removeAttr('class');
    })

    
</script>