<% content_for :title do %>
    Price Checker
<% end %>

<div class="clearfix" style="background-color: #fff; border-bottom: 4px solid #64b5f6">
    <div id='header-search' class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="padding-side-15" >
            <input id="search-input" type="text" placeholder="Search ..."> </input>  


            <br />

            <div class="input-group">
                <input id="search-input" type="text" class="form-control" placeholder="Search for...">
                <button class="" type="button">Go!</button>
                
            </div>  
        </div>
    </div>    
</div>

<div class="padding-side-50 col-lg-8 col-lg-offset-2 col-md-12">
    <div>
        <div>
            <div class="row">
                <div class="div-content">
                    <div class="title-cate"><div class="inline" ><h4 class="no-margin inline title-blue-bgr" style="padding: 5px 3px;">&nbsp;&nbsp;<i class="fa fa-gift" aria-hidden="true"></i>&nbsp;&nbsp;Chương trình khuyến mại, giảm giá</h4></div></div>
                    <div class="clearfix" style="background: #fff; position: relative;">
                        
                        <div class="col-md-12 no-padding-left"  >
                            <div class="owl-carousel" id="owl-example">
                                <% @khuyenmai.each do |item| %>

                                    <div class="">
                                        <div class="col">
                                          <div class="card">
                                            <div class="card-image">
                                              <img src="<%= item.image %>" onerror="imgError(this)">
                                              
                                            </div>
                                            <div class="clearfix" style="padding: 5px;">
                                              <p><a href="<%= item.link %>" target="_blank"><%= item.title %></a></p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    
                                <% end %>    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="div-content">
                    <div class="title-cate"><div class="inline" ><h4 class="no-margin inline title-blue-bgr" style="padding: 5px 3px;">Smartphone (<%= @number_smtp %>)</h4></div></div>
                    <div class="clearfix" style="background: #fff; position: relative;">
                        <!-- <div class="col-md-2 clearfix" style="height: 100%; min-height: 100%"> -->
                            <div class="avt-cate col-md-2 no-margin no-padding">
                                
                            </div>
                          
                        <!-- </div> -->
                        <div class="col-md-10 col-md-offset-2 no-padding-left"  >
                            <div class="owl-carousel" id="owl-example">
                                <% @smartphones.each do |item| %>

                                    <div class="">
                                        <div class="col">
                                          <div class="card">
                                            <div class="card-image">
                                              <img src="<%= item.standard_image %>" onerror="imgError(this)">
                                              
                                            </div>
                                            <div class="" style="height: 40px;">
                                              <p><a href="/production/detail/<%= item.id %>"><%= item.standard_name %></a></p>
                                            </div>
                                            <div class="card-action">
                                              <a href="#"><%= item.standard_price %></a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    
                                <% end %>    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="div-content">
                    <h4 class="title-cate">Laptop (<%= @number_laptop %>)</h4>
                    <div class="clearfix" style="background: #fff;">
                        <div class="col-md-2 clearfix" style="height: 100%;">
                            <%= image_tag "smartphone.jpg", width: '100%', height: '100%' %>
                        </div>
                        <div class="col-md-10 "  >
                            <div class="owl-carousel" id="owl-example">
                                <% @laptops.each do |item| %>

                                    <div class="">
                                        <div class="col">
                                          <div class="card">
                                            <div class="card-image">
                                              <img src="<%= item.standard_image %>">
                                              
                                            </div>
                                            <div class="" style="height: 40px;">
                                              <p><a href="/production/detail/<%= item.id %>"><%= item.standard_name %></a></p>
                                            </div>
                                            <div class="card-action">
                                              <a href="#"><%= item.standard_price %></a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    
                                <% end %>    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="div-content">
                    <h4 class="title-cate">Mẹ và bé (<%= @number_mevabes %>)</h4>
                    <div class="clearfix" style="background: #fff;">
                        <div class="col-md-2 clearfix" style="height: 100%;">
                            <%= image_tag "smartphone.jpg", width: '100%', height: '100%' %>
                        </div>
                        <div class="col-md-10 "  >
                            <div class="owl-carousel" id="owl-example">
                                <% @mevabes.each do |item| %>

                                    <div class="">
                                        <div class="col">
                                          <div class="card">
                                            <div class="card-image">
                                              <img src="<%= item.standard_image %>">
                                              
                                            </div>
                                            <div class="" style="height: 40px;">
                                              <p><a href="/production/detail/<%= item.id %>"><%= item.standard_name %></a></p>
                                            </div>
                                            <div class="card-action">
                                              <a href="#"><%= item.standard_price %></a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    
                                <% end %>    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="div-content">
                    <h4 class="title-cate">Thời trang - Mỹ phẩm (<%= @number_thoitrangs %>)</h4>
                    <div class="clearfix" style="background: #fff;">
                        <div class="col-md-2 clearfix" style="height: 100%;">
                            <%= image_tag "smartphone.jpg", width: '100%', height: '100%' %>
                        </div>
                        <div class="col-md-10 "  >
                            <div class="owl-carousel" id="owl-example">
                                <% @thoitrangs.each do |item| %>

                                    <div class="">
                                        <div class="col">
                                          <div class="card">
                                            <div class="card-image">
                                              <img src="<%= item.standard_image %>">
                                              
                                            </div>
                                            <div class="" style="height: 40px;">
                                              <p><a href="/production/detail/<%= item.id %>"><%= item.standard_name %></a></p>
                                            </div>
                                            <div class="card-action">
                                              <a href="#"><%= item.standard_price %></a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    
                                <% end %>    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="div-content">
                    <h4 class="title-cate">Tivi (<%= @number_tivis %>)</h4>
                    <div class="clearfix" style="background: #fff;">
                        <div class="col-md-2 clearfix" style="height: 100%;">
                            <%= image_tag "smartphone.jpg", width: '100%', height: '100%' %>
                        </div>
                        <div class="col-md-10 "  >
                            <div class="owl-carousel" id="owl-example">
                                <% @tivis.each do |item| %>

                                    <div class="">
                                        <div class="col">
                                          <div class="card">
                                            <div class="card-image">
                                              <img src="<%= item.standard_image %>">
                                              
                                            </div>
                                            <div class="" style="height: 40px;">
                                              <p><a href="/production/detail/<%= item.id %>"><%= item.standard_name %></a></p>
                                            </div>
                                            <div class="card-action">
                                              <a href="#"><%= item.standard_price %></a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    
                                <% end %>    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="div-content">
                <div>
                    <h4 class="title-cate"><i class="fa fa-book"></i>&nbsp;&nbsp;Danh mục hàng đầu</h4>
                </div>
                <div class="col-md-10 col-md-offset-1 padding-top-30">
                    <% @list_cates.each do |cate| %>
                        <div class="col-md-4 col-sm-6 col-xs-12 group-cate">
                            <h6 class="bold">
                                <a href="/category/<%= cate.id %>"><big><%= cate.name %></big></a>
                            </h6>
                            <ul class="list-unstyled sub-list list-cate-header">
                                <% cate.get_sub_categorys(5).each do |sub_cate| %>
                                    <li><%= sub_cate.name %></li>
                                <% end %>
                                <li><a href="/category/<%= cate.id %>"><small>Xem thêm ></small></a></li>
                            </ul>
                        </div>
                    <% end %>
                </div>    
            </div>
            
        </div>


    </div>


</div>
<div class="clearfix"></div>

<script type="text/javascript">
    
    $(document).ready(function() {
        $('ul.tabs').tabs();

        $(".owl-carousel").owlCarousel({
            responsive:{
                0:{
                    items:1,
                    nav:true
                },
                600:{
                    items:5,
                    nav:false
                },
                1000:{
                    items:7,
                    nav:true,
                    loop:false
                }
            }
        });
    })


</script>